.container {
  display: flex;
  flex-direction: column;
  margin: 0.25em auto;
  padding: 0 0.25em;
  max-width: 40em;
  margin-bottom: 2em;
}

.container > * + * {
  margin-top: 1em;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row > * {
  flex: 1 0 auto;
  text-align: center;
}

.row > * + * {
  margin-left: 0.2em;
}

.column {
  width: 1px;
}

.column > * + * {
  margin-top: 0.5em;
}

.playerCard {
  composes: playerGridItem from "../../styles/player-grid.css";
  max-width: 5em;
  height: 5em;
  margin-left: auto;
  margin-right: auto;
}

.scoreSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreSelect > * + * {
  margin-top: -1px;
}

.scoreSelect > button:focus {
  outline: none;
}

.scoreSelect > button {
  padding: 0.75em;
  font: inherit;
  cursor: pointer;
  max-width: 4em;
  width: 100%;
  background-color: white;
  box-shadow: none;
  border: 1px solid var(--theme1-color);
}

.scoreSelect > button.selected {
  color: white;
  background-color: var(--theme3-color);
  font-weight: 700;
}

.help {
  text-align: center;
  margin: 1.5em 0.5em;
}

.holeTitle,
.winner {
  font-size: 1.2em;
}

.nextButton {
  composes: button from "../../styles/global.css";
  composes: buttonTheme1 from "../../styles/global.css";
  margin: 0 auto;
}

.playerName {
  word-wrap: break-word;
}

.editButton {
  background: none;
  border: none;
  font: inherit;
  float: right;
  padding: 0;
  cursor: pointer;
  font-size: 0.9em;
}
