.playerListContainer {
  composes: playerListContainer from '../../styles/player-grid.css';
}

.playerGridItem {
  composes: playerGridItem from '../../styles/player-grid.css';
}

.icon {
  font-size: 4em;
}

@media (max-height: 640px) {
  .icon {
    font-size: 3em;
  }
}

.ready {
  font-size: 1.2rem;
  text-align: center;
  margin: 1em 0.5em;
  color: var(--theme4-color);
}

.startGame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.button {
  composes: button from "../../styles/global.css";
  composes: buttonTheme1 from "../../styles/global.css";
}

.changePlayers {
  composes: button from "../../styles/global.css";
  color: var(--theme4-color);
}

.playerName {
  word-break: break-word;
}
