@import '~styles/global.css';

.playerListContainer {
  composes: playerListContainer from '../../styles/player-grid.css';
}

.playerGridItem {
  composes: playerGridItem from '../../styles/player-grid.css';
}

.startGame {
  margin-top: 10px;
  text-align: center;
}

.startGame > button {
  display: inline-block;
  color: var(--theme1-color);
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  border: 1px solid var(--theme1-color);
  text-decoration: none;
  padding: 10px 20px;
}
