.playerListContainer {
  composes: playerListContainer from '../../styles/player-grid.css';
}

.playerGridItem,
.linkAdd {
  composes: playerGridItem from '../../styles/player-grid.css';
}

.linkAdd {
  border-color: var(--theme4-color);
}

.linkAdd {
  color: inherit;
  text-decoration: none;
}

.icon, .iconAdd {
  font-size: 4em;
  color: var(--theme2-color);
}

@media (max-height: 640px) {
  .icon, .iconAdd {
    font-size: 3em;
  }
}

.iconAdd {
  color: var(--theme4-color);
}
.unselected .icon {
  opacity: 0.2;
}

.inputGroup {
  display: flex;
}

.helpText {
  font-size: 1.2rem;
  text-align: center;
  margin: 1em 0.5em;
  color: var(--theme4-color);
}

.nameInput:focus {
  outline: none;
}

.inputGroup > button,
.nameInput {
  cursor: pointer;
  font: inherit;
  color: inherit;
  border: 1px solid var(--theme1-color);
  padding: 0.25rem;
}

.inputGroup > button {
  background-color: #eeeeee;
  margin-left: -1px;
}

.nameInput {
  text-align: center;
  width: 100%;
}

.playerName {
  word-break: break-word;
}
