@import '~styles/global.css';

.playerListContainer {
  composes: playerListContainer from '../../styles/player-grid.css';
}

.playerGridItem,
.linkAdd {
  composes: playerGridItem from '../../styles/player-grid.css';
}

.linkAdd {
  border-color: var(--theme4-color);
}

.linkAdd {
  color: inherit;
  text-decoration: none;
}

.iconAdd {
  color: var(--theme4-color);
}

.unselected {
}

.unselected .icon {
  opacity: 0.2;
}

.selected {
}

.nameInput {
  width: 100%;
  font: inherit;
  color: inherit;
  padding: 3px;
  text-align: center;
}

.helpText {
  text-align: center;
  padding: 30px 5px;
  font-size: 1.2em;
  color: var(--theme4-color);
}
