@import '~matchplay.css';

.player_list_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  color: var(--theme1-color);
  min-height: 50vh;
  max-width: 700px;
  margin: 0 auto;
}

.player_grid_item,
.link_add {
  text-align: center;
  padding: 20px 5px;
  flex: 0 0 160px;
  border: 1px solid var(--theme4-color);
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player_grid_item > * + *,
.link_add > * + * {
  margin-top: 5px;
}

.link_add {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.icon_add {
  color: var(--theme4-color);
}
